
{% extends 'layout.html' %}

{% block body %}
<h1 style="
    position: fixed;
    left: 15px;
    top: 5px;
    font-size: 35px;
">
<input type="text" id="text" name="text" onkeydown="if (event.keyCode == 13) document.getElementById('btnPost').click()" />
<button id="btnPost" onclick="handleForm()" type="button">add</button>
<button id="btnRefr" onclick="reload()" type="button">refresh</button>
<a href="{{ url_for('logout') }}">logout</a>

<div id="status" style="font-size: 30px;"></div>
</h1>

<h1 style="position: relative; top: 100px; left: 15px;">
<div id="books">
    <div id="new"></div>
    {% for book in books %}
        <p id="book-{{ book.id }}">
        {% if book.start and book.finish %}
            <strike>
        {% endif %}
        <a href="{{ book.url }}">{{ book.title|title }}</a> By {{ book.author|title }}
        {% if book.start and book.finish %}
            </strike>
        {% endif %}
        </p>
        {% if not book.start %}
            <button class="btnStart" data-id="{{ book.id }}" type="button">start</button>
        {% endif %}
        {% if not book.finish %}
            <button class="btnStop" data-id="{{ book.id }}" type="button">finish</button>
        {% endif %}
        {% if book.time %}
            <p style="font-size: 18px;">{{ book.time }}s</p>
        {% endif %}
        <br><br>
    {% endfor %}
</div>
</h1>

<script type="text/javascript">

function handleForm(){
    if (window.jQuery){
        $(function() {
            $("#status")[0].innerHTML="posting..."
            $.post('/api/', {
                text: $("#text").val()
            })
            .done(function(data) {
                $("#text").val("");
                if (data.message) {
                    $("#status")[0].innerHTML=data.message;
                } else {
                    if (data.created) {
                        $("#status")[0].innerHTML="POSTED!"
                    } else {
                        $("#status")[0].innerHTML="FAILED!"
                    }
                }
            })
            .error(function(xhr, textStatus, errorThrown) {
                $("#status")[0].innerHTML="FAILED!"
            })
        });
        reload();
        return false;
    } else {}
}

function initBtns() {
    $(".btnStart").click(function(){
        var id = $(this).data("id");
        $.ajax({
          type: "PUT",
          url: "/api/" + id + "/start/",
          data: {},
        })
        .done(function( msg ) {
          $("#status")[0].innerHTML="Started!";
        });
        reload();
    });

    $(".btnStop").click(function(){
        var id = $(this).data("id");
        $.ajax({
          type: "PUT",
          url: "/api/" + id + "/finish/",
          data: {},
        })
        .done(function( msg ) {
          $("#status")[0].innerHTML="Finished!";
        });
        reload();
    });
}

function reload() {
    $.get('/api/', {})
    .done(function(data) {
        $('#books')[0].innerHTML='';
        $.each(data, function(k, v) {
            $('#books')[0].innerHTML += '<p id="book-' + v.id + '" style="text-transform: capitalize;"><a href="' + v.url + '">' + v.title + "</a> by " + v.author + "</p>"
            if (v.start && v.finish) {
                $('#book-' + v.id).css('text-decoration', 'line-through');
            }
            if (v.time) {
                $('#books')[0].innerHTML += '<p style="font-size: 18px;">' + v.time + 's</p>'
            }
            if (!v.start) {
                $('#books')[0].innerHTML += '<button class="btnStart" data-id="' + v.id + '" type="button">start</button>\n'
            }
            if (!v.finish) {
                $('#books')[0].innerHTML += '<button class="btnStop" data-id="' + v.id + '" type="button">finish</button>'
            }
            $('#books')[0].innerHTML += '<br> <br>'

        });
        initBtns();
    })
}

$(document).ready(function() {
    initBtns();
});

</script>

{% endblock %}
