
{% extends 'layout.html' %}

{% block body %}
<h1 style="
    position: fixed;
    left: 15px;
    top: 5px;
    font-size: 35px;
">
<input type="text" id="text" name="text" onkeydown="if (event.keyCode == 13) document.getElementById('btnPost').click()" />
<button id="btnPost" onclick="handleForm()" type="button">add</button>
<button id="btnRefr" onclick="reload()" type="button">refresh</button>
<a href="{{ url_for('logout') }}">logout</a>

<div id="status" style="font-size: 30px;"></div>
</h1>

<h1 style="position: relative; top: 100px; left: 15px;">
<div id="books">
    <div id="new"></div>
    {% for book in books %}
        {% include 'book.html' with context %}
        <br><br>
    {% endfor %}
</div>
</h1>

<script type="text/javascript">

function handleForm(){
    if (window.jQuery){
        $(function() {
            $("#status")[0].innerHTML="posting..."
            $.post('/api/', {
                text: $("#text").val()
            })
            .done(function(data) {
                $("#text").val("");
                if (data.message) {
                    $("#status")[0].innerHTML=data.message;
                } else {
                    if (data.created) {
                        $("#status")[0].innerHTML="POSTED!"
                    } else {
                        $("#status")[0].innerHTML="FAILED!"
                    }
                }
            })
            .error(function(xhr, textStatus, errorThrown) {
                $("#status")[0].innerHTML="FAILED!"
            })
        });
        reload();
        return false;
    } else {}
}

function initBtns() {
    $(".btnStart").click(function(){
        var id = $(this).data("id");
        $.ajax({
          type: "PUT",
          url: "/api/" + id + "/start/",
          data: {},
        })
        .done(function( msg ) {
          $("#status")[0].innerHTML="Started!";
        });
        reload();
    });

    $(".btnStop").click(function(){
        var id = $(this).data("id");
        $.ajax({
          type: "PUT",
          url: "/api/" + id + "/finish/",
          data: {},
        })
        .done(function( msg ) {
          $("#status")[0].innerHTML="Finished!";
        });
        reload();
    });
}

function reload() {
    $.get('/api/', {})
    .done(function(data) {
        $('#books')[0].innerHTML='';
        $.each(data, function(k, v) {
            $.get('/book/' + v.id, {})
            .done(function(data) {
                $('#books')[0].innerHTML += data;
                $('#books')[0].innerHTML += '<br> <br>'
                initBtns();
            });
        });
    });
}

$(document).ready(function() {
    initBtns();
});

</script>

{% endblock %}
